# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
.gradle/
.idea/
*.class
*.lock
*.log
*.swp
*.swo
.DS_Store

# Test coverage
/coverage/

# IDE
.vscode/
.idea/

# Android
/local.properties
*.apk
*.aab

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
